<div id="Carreras" class="container" style="padding-top: 5rem;">
    <h1 class="text-center mb-4 fw-bold mb-3" style="color: #30304c"> Carrera de Enfermeria</h1>
    <p class="text-center fs-5" style="margin-bottom:5rem;">(Validez Nacional)</p>
     <ul>
            <h3 class="text-center mb-4 fw-bold mb-3" style="color: #2a2a63;text-decoration:underline"> PLAN DE ESTUDIOS:</h3>

            <br><br>

                <h4  class="text-center mb-4 fw-bold mb-3" style="color: #6b6ecf;">PRIMER AÑO:</h4>
                <li>COMUNICACIÓN</li>
                <li>BIOLOGÍA HUMANA  I</li>
                <li>SUJETO, CULTURA Y SOCIEDAD  I</li>
                <li>CUIDADOS DE ENFERMERÍA EN LA COMUNIDAD Y FAMILIA</li>
                <li>FUNDAMENTO DEL CUIDADO EN ENFERMERÍA </li>
                <li>SALUD PÚBLICA</li>
                <li>UNIDAD DE DEFINICIÓN INSTITUCIONAL  I</li>
                <li>PRÁCTICA PROFESIONALIZANTE I</li>

               <h4 class="text-center mb-4 fw-bold mb-3" style="color: #2A2D72;">SEGUNDO AÑO:</h4> 
                <li>PROBLEMATICAS SOCIO CONTEMPORANEAS</li>
                <li>UNIDAD DE DEFINICION INSTITUCIONAL  II</li>
                <li>INFORMATICA EN SALUD</li>
                <li>BIOLOGIA HUMANA  II</li>
                <li>	SUJETO, CULTURA Y SOCIEDAD  II</li>
                <li>BIOSEGURIDAD Y MEDIO AMBIENTE EN EL TRABAJO</li>
                <li>CUIDADOS DE ENFERMERÍA A LOS ADULTOS Y ADULTOS MAYORES</li>
                <li>	FARMACOLOGÍA EN ENFERMERÍA</li>
                <li>	PRACTICA PROFESIONALIZANTE   II</li>
                    
                <h4 class="text-center mb-4 fw-bold mb-3" style="color: #2A2D72;">TERCER AÑO:</h4> 
                <li>ÉTICA Y RESPONSABILIDAD SOCIAL</li>
                <li>DERECHO Y LEGISLACIÓN LABORAL</li>
                <li>INGLÉS TÉCNICO</li>
                <li>ORGANIZACIÓN Y GESTIÓN EN INSTITUCIONES DE SALUD</li>
                <li>INVESTIGACIÓN EN ENFERMERÍA</li>
                <li>CUIDADOS DE ENFERMERÍA EN SALUD MENTAL</li>
                <li>CUIDADOS DE ENFERMERÍA AL NIÑO Y AL ADOLESCENTE</li>
                <li>PRÁCTICA PROFESIONALIZANTE  III</li>

                <h5 class="text-center mb-4 fw-bold mb-3" style="color: #2A2D72;">Información Adicional</h5>
                <p> DURACION DE LA CARRERA: 3 AÑOS</p>
                <p>INSERCION LABORAL: INMEDIATA,  EN INSTITUCIONES PUBLICAS Y PRIVADAS DEL PAIS</p>
    
    
                <h3 class="text-center mb-4 fw-bold mb-3" style="color: #2A2D72;">Requisitos de Ingreso</h3>
                

              <li>  Titulo Secundario ( o constancia de título en trámite):  Fotocopia Legalizada</li> 
              <li>Documento de Identidad:  Fotocopia Legalizada del frente y reverso</li>
              <li> Partida de Nacimiento:   Fotocopia Legalizada</li>
              <li>Certificados de salud  y bucodental</li>
              <li>Carnet Vacunación: fotocopia otorgados por instituciones estatales.</li>
              <li>2 Fotos carnet:  no importa fondo </li>

              <h2 class="text-center mb-4 fw-bold mb-3" style="color: #2A2D72;">Importante</h2>
             <p>Aspirantes Extranjeros: poseer  D.N.I Argentino o certificación de residencia emitida por la Dirección Nacional de Migraciones. 
                Título secundario deberá concurrir al Ministerio de Educación de la Nación - Montevideo 950 Bs. As.</p> 
    
        </ul> 

           
               
 

      
    
</div>