<div id="quienessomos" style="background-color: #F9F9F9; padding: 5rem 0  ;">
    <h2 class="text-center mb-4" style="color: #00629A; font-size: 3rem;">¿Quiénes somos y Que Hacemos?</h2> 
    <div class="text-wrap text-center container-fluid" style="width: 90%; color:#00629A;" >

        <p class="fs-5">La Escuela Superior de Enfermería brinda una educación integral, innovadora y de
            avanzada en el área de Enfermería con una continuidad en la formación por más de 30
            años.</p>
        <p class="fs-5">Nuestras instalaciones se encuentran dentro del predio del Hospital Provincial
            “San José”, entre las calles Urquiza al Norte, al Sur limita con calle Castelli, al Oeste con
            calle Iriondo y al Este calle Libertad donde se encuentra nuestro ingreso.-</p>
            
        <p class="fs-5">Siendo el Hospital Provincial “San José”, con más de 130 años de trayectoria, y los
            6 Centros de Atención Primaria de la Salud, los ámbitos para el desarrollo de la Práctica
            Profesionalizante uno de los ejes en la formación de los estudiantes. </p>
       
            <p class="fs-5">Nuestros egresados obtienen las herramientas para el desempeño profesional y en
            conjunto con el conocimiento adquirido son capaces de desempeñarse en las diferentes
            áreas de la profesión tanto en lo asistencial, la docencia, la investigación y el
            gerenciamiento de los servicios de enfermería, en Centros Asistenciales de baja, mediana
            o alta complejidad como en Instituciones formadores de este Recurso Humano. </p>
    </div>

    <br>
    
    <div class="card" style="background-color:#A0B8CF; border-radius: 4;">
        <div class="card-body2">
          <h3 class="card-title text-center" style="color: white;">Nuestra Misión</h3>
            
                <ul>
                    <li>Formar profesionales autonomos, con identidad profesional.</li>
                    <li>Poseer resposabilidad profesional y actuacion etica en la promocion, proteccion,recuperacion y rehabilitacion del individuo,familia y comunidad.</li>
                    <li>Conservar grado de competencia que permita tomar decisiones y compartir responsabilidades dentro del equipo de salud</li>
                </ul>
            
        </div>
    </div>

    <div class="card" style="background-color:#A0B8CF; border-radius: 4;">
        <div class="card-body3">
          <h3 class="card-title text-center" style="color: white;">Nuestros Valores</h3>
          <ul>
            <li>Competencia profesional.</li>
            <li>Compromiso con la sociedad.</li>
            <li>Innovación.</li>
            <li>Actuación ética ante el sistema sanitario y la sociedad.</li>
          </ul>

    </div>      

    <div class="card" style="background-color:#A0B8CF; border-radius: 4;">
        <div class="card-body4">
          <h3 class="card-title text-center" style="color: white;">Nuestra Misión</h3>
          <p>Promover los conocimientos y avances sobre él “Cuidado”, como función básica del profesional enfermero.</p>
          

    </div>      


</div>