<div class="container" id="Novedades" style="padding-top: 5rem;">
    <h2 class="text-center mb-4 fw-bold mb-3" style="color: #2A2D72">Inauguración de Nuestro Espacio</h2>
    <p class="text-center fs-5" style="margin-bottom:5rem;">Nuestro nuevo edificio inaugurado</p>

    <img src="https://media.lacapital.com.ar/p/28789bc71e79583f74353a20bae3266a/adjuntos/203/imagenes/100/162/0100162908/1200x675/smart/inauguracion-maternidad-canada-gomez-2jpeg.jpeg" class="card-img-top" alt="nuevo-edificio">
    
</div>