<div class="card mb-3 border-light mb-5">
    <div class="card-body text-center ">
      <img src="assets/portada_Banner_Enfermeria.png" class="card-img-top" alt="frase de los enfermeros">
    </div>
</div>
<br>
<!-- ARTICULOS-->
<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center m-5"> 
    <div class="col">
      <div class="card h-100 border-light">
        <div class="h-50">
            <img src="assets\OIP.jpeg" class="card-img-top" width="100%" height="auto" alt="leyes de discapacidad">
        </div>
        <div class="card-body">
            <h3 class="card-title">Donación de Sangre</h3>
            <p class="card-text fs-5">Aquí podras enterarte sobre qué leyes que existen relacionado a la discapacidad en Argentina</p>
        </div>
        <div class="text-center">
            <a target="_blank" href="https://www.argentina.gob.ar/andis/legislacion-sobre-discapacidad" class="btn">Ver más</a>
        </div>
      </div>
    </div>
   
    <div class="col">
      <div class="card h-100 border-light">
        <div class="h-50">
            <img src="assets/enfermera.jpg" class="card-img-top " width="50%" height="auto" alt="consltas">
        </div>
        <div class="card-body">
            <h3 class="card-title">Calendario de Vacunacion</h3>
            <p class="card-text fs-5">En esta sección podras encontrar información útil acerca del calendario de vacunacion.</p>
        </div>
        <div class="text-center">
            <a target="_blank" href="https://xn--caadadegomez-bhb.com.ar/instituciones/organismos.html" class="btn" >Ver más</a>
        </div>
      </div>
    </div>
</div>